{% extends 'base.html' %} {% load static %} {% block title %}Nueva Contraseña -
PixelPlay{% endblock %} {% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div
      class="card bg-dark text-white shadow-lg border border-light border-opacity-25"
    >
      <div class="card-body p-4">
        <h1 class="card-title text-center mb-4">Establecer Nueva Contraseña</h1>

        {% if validlink %}
        <p class="card-text text-center mb-4">
          Por favor, ingresa tu nueva contraseña dos veces para verificarla.
        </p>

        <form method="post" class="needs-validation" novalidate>
          {% csrf_token %}
          <div class="mb-3">
            <label for="id_new_password1" class="form-label"
              >Nueva contraseña</label
            >
            {{ form.new_password1.errors }}
            <input
              type="password"
              name="new_password1"
              class="form-control"
              required
              id="id_new_password1"
            />
            <div class="form-text text-white-50">
              <ul>
                <li>Tu contraseña debe contener al menos 6 caracteres</li>
                <li>
                  Tu contraseña debe contener al menos una letra mayúscula
                </li>
                <li>Tu contraseña debe contener al menos un número</li>
                <li>No puede ser similar a tu información personal</li>
              </ul>
            </div>
          </div>

          <div class="mb-4">
            <label for="id_new_password2" class="form-label"
              >Confirmar contraseña</label
            >
            {{ form.new_password2.errors }}
            <input
              type="password"
              name="new_password2"
              class="form-control"
              required
              id="id_new_password2"
            />
          </div>

          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-key me-2"></i>Cambiar mi contraseña
            </button>
          </div>
        </form>

        {% else %}
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">¡Enlace inválido!</h4>
          <p>
            El enlace para restablecer la contraseña es inválido, posiblemente
            porque ya ha sido utilizado. Por favor solicita un nuevo
            restablecimiento de contraseña.
          </p>
        </div>

        <div class="d-grid gap-2 mt-4">
          <a href="{% url 'password_reset' %}" class="btn btn-primary">
            <i class="fas fa-redo me-2"></i>Solicitar nuevo enlace
          </a>
          <a href="{% url 'inicio_sesion' %}" class="btn btn-outline-light">
            <i class="fas fa-sign-in-alt me-2"></i>Volver al inicio de sesión
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
